/* ALL TWEETS general section */
.tweets-container {
    height: 100%;
}

.all-tweets {
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 2em;
    color: #244751
 }

 .all-tweets:hover {
    border: 1px solid gray;
 }
/* --------------------------- */


 /* HEADER section  */
 .all-tweets header {
    border-radius: 7px 7px 0 0;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
 }

 .all-tweets:hover header {
    opacity: 1;
 }

 .all-tweets header img {
    border-radius: 7px;
    margin: 7px;
 }

 .all-tweets header h3 {
    width: 70%; 
    margin-top: 10px;
 }
 
 .all-tweets header h5 {
    padding-right: 7px;
    margin-top: 15px;
    font-weight: 300;
 }
/* --------------------------- */


/* CONTENT section */
 .all-tweets content p {
    font-weight: 300;
    margin: 40px 10px;
 }
/* --------------------------- */


 /* FOOTER section */
 .all-tweets footer {
    border-top: 1px solid #eee;
    font-weight: 300;
    font-size: smaller;
    padding: 10px;
 }

 .all-tweets .tweet-icons {
    visibility: hidden;
    float: right;
 }

 .all-tweets:hover .tweet-icons {
    visibility: visible;
    color: mediumturquoise;
    font-size: small;
 }

 .all-tweets .fas {
    margin-right: 5px;
 }
 /* --------------------------- */





 
    