.new-tweet {
    margin: 2em;
    border: 1px solid lightgrey;
    background-color: #eee;
    border-radius: 7px;
    position: relative;

}

.new-tweet-header {
    border-bottom: 1px solid black;
    margin: 12px;
}

.new-tweet form {
   padding: 12px;
}

.new-tweet textarea {
    width: 100%;
    padding: 5px;
 }

 .counter {
     float: right;
     font-style: italic;
     color: grey;
     font-size: smaller;
 }
